/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 300ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}
.fade-exit-done {
  opacity: 0;
}

/* help tooltip*/

.help-icon {
    height: 20px;
    float: left;
}

.toolTip {
    background-color: rgb(255, 255, 255); 
    padding: 15px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

/* options */

.strands {
    padding-left: 15px;
    padding-top: 5px;
}

.form-control.opt {
    width: 80px;
    padding-left: 20px;
    margin-left: 15px;
}

.btn-padding-opt {
    margin-left: 20px !important;
}

.opt-btns {
    /* margin-left: 50px !important; */
}

.optsImg {
    width: 100%;
    /* padding-left: 10%; */
    margin-left: 8px;
}

/* dna input */

.btn-padding-input:nth-child(2) {
    margin-left: 10px !important;
}

.btn.btn-analyze {
    background-color: #024358 !important;
    color: white !important;
    width: 300px;
    font-size: 1.5em;
}

.btn-analyze:hover {
    background-color: #138496 !important;
    color: white !important;
}

p.inputText {
    margin: 0;
    text-align: justify; 
}

.input-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
}

.input-left {
    display: grid;
    grid-row-gap: 20px;
}

.input-buttons {
    display: flex;
    flex-direction: row;
}

.input-text-div {
    margin-top : 20px;
}

.pqsText {
    margin-top : 20px;
    text-align: justify;
}