.graph {
    position: relative;
    height: 650px;
    max-width: 95%;
    margin:auto;
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0.288);
    /* background-color:black; */
    padding: 30px;
}

.graph-wrapper {
    margin-top: 100px;
}

.graph::-webkit-scrollbar {
    display: none;
}

h2 {
    text-align: center;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 0;
  }

 text {
      color: black;
  }

  .area {
    fill: steelblue;
    clip-path: url(#clip);
  }
  
  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }