.graph {
    position: relative;
    height: 630px;
    max-width: 100%;
    margin:auto;
    overflow: hidden;
    background-color: rgba(224, 223, 223, 0.288);
    padding: 15px 15px 0 12px;
}

.graph-wrapper {
    margin: 20px auto 20px auto;
}

.graph::-webkit-scrollbar {
    display: none;
}

h2 {
    text-align: center;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
  
.grid path {
    stroke-width: 0;
}

text {
    color: rgb(100, 100, 100);
}
  
.zoom {
    cursor: grab;
    fill: none;
    pointer-events: visible;
    z-index: -1;
}

.zoom .disabled {
    pointer-events: none;
}

.rect {
    cursor: pointer;
    pointer-events: all;
    z-index: 1;
    /* stroke: black; */
}

.active {
    fill: green;
}

.detail-wrapper {
    align-content: center;
    margin: auto;
    margin-bottom: 15px;
}

.detail {
    margin: auto;
    min-width: 600px;
    height: 230px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.1em;
}

.detail-q {
    margin: auto;
    text-align: left;
}

.detail-info {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-info p {
    text-align: left;
}

.graph-legend {
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
}

.graph-legend input {
    margin: 0 4px 7px 10px;
}