
.body {
    margin-top: 70px;
}
    
.logo{
    /* position:absolute; */
    vertical-align: top; 
    top:0px;
    left:0px;
    width: 10.0%;
    /* margin-top: 13px; */
}

.logo img{
    float: left;
    width: 100%;
    height: auto;
    left: 0px;
}

.nav {
    background-color: #024358;
}

.row {
    padding: 15px;
}