.body {
    margin-top: 100px;
}

#root {
    min-height:100%;
    position:relative;
    padding-bottom: 120px;
}

html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    -webkit-overflow-scrolling: touch;
    padding:0;
    height:100%;
}

h1 {
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.row {
    margin: 0 !important;
}

footer {
    background-color: #024358;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.footer {
    padding: 30px;
    color: rgb(99, 99, 99);
    margin: auto;
    max-width: 1200px;
    color: white;
}

.footer > div {
    display: flex;
    line-height: 1;
}

.footer .text {
    font-weight: 1000;
    color: black;
    margin-right: 10px;
    color: white;
}



.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form {
    display: flex;
}

.form > button {
    margin-top: 0 !important;
}
    
.logo{
    /* position:absolute; */
    vertical-align: top; 
    top:0px;
    left:0px;
    width: 5.0%;
    /* margin-top: 13px; */
}

.logo img{
    float: left;
    width: 100%;
    height: auto;
    left: 0px;
}


@media screen and (max-width: 350px) {
    .form {
        display: flex;
        flex-wrap: wrap;
    }

    .form > input {
        margin: auto;
    }

    .form > button {
        margin-top: 0.5rem !important;
        margin: auto;
    }
}


.nav {
    background-color: #024358;
    /* padding-left: 20% !important;
    padding-right: 20% !important; */
    font-size: 1.2em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    /* -webkit-transition: height 1000ms; /* Safari */
    /* transition: height 1000ms;
    height: 0;
    background-color: red;
    border-radius: 0 0 10px 10px;
    margin-top: 65px;
    color: white;
    text-align: center;
    font-weight: 500; */ 
}

.blueNav {
    z-index: 1029;
    background-color: #024358;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    width: 100%;
}

.search-inp {
    width: 150px !important;
}

/*  table results  */

.table-results-buttons {
    padding-top: 5px;
}


.btn-padding {
    float: left;
    margin-left: 20px !important;
}

.row {
    padding: 10px;
}

.result-table .row {
    margin: 0;
    padding: 0;
}

.result-table {
    margin-bottom: 30px;
}

.result-table .card-body {
    padding: 0 0 15px 0;
}


.quadruplex-text {
    letter-spacing: 4px;
}

.orange {
    background-color: rgba(255, 166, 0, 0.575);
}

.purlpe {
     background-color: rgb(140, 40, 255);
}

.green {
    background-color: rgb(0, 134, 0);
}

.blue {
    background-color: rgba(5, 154, 223, 0.562); 
}
